* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    background: rgb(37,93,208);
    background: linear-gradient(90deg, rgba(37,93,208,1) 0%, rgba(13,31,157,1) 60%, rgba(2,13,84,1) 100%);
    color: white;
    padding: 10px;
}

.content-wrapper {
    display: flex;
    height: 90vh;
}

.search-container {
    display: inline-flex;
    flex-direction: column;
    flex: 1 20%;
}

.search-form {
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding: 20px 0;
}

.btn {
    padding: 10px 0;
    border-radius: 5px;
    font-size: large;
    border: none;
}

.search-form-btn {
    background-color: rgb(41, 57, 167);
    color: white;
}

.search-form-btn:hover {
    background-color: rgb(64, 89, 252);
    color: white;
}

.form-input {
    padding: 10px 10px;
    border-radius: 10px;
    font-size: large;
}

.clear-all-btn:hover, .search-history-btn:hover {
    background: rgb(37,93,208);
    background: linear-gradient(90deg, rgb(94, 140, 231) 0%, rgb(63, 81, 214) 60%, rgb(41, 57, 167) 100%);
    color: white;
}

.info-container {
    display: inline-flex;
    flex-direction: column;
    width: 80vw;
    margin: 10px 0;
}

.current-conditions {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 2px solid black;
    margin: 10px 0;
}

.current-conditions h2 {
    font-size: 36px;
    font-weight: bolder;
    padding: 20px 0 0 10px;
    margin: 10px 10px 0 10px;
}

.current-conditions img {
    margin: 0;
}

.current-conditions p {
    font-size: 24px;
    padding: 15px;
}

.favorable {
    background-color: green;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.moderate {
    background-color: orange;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.severe {
    background-color: red;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.five-day-wrapper {
    display: flex;
    height: 30vh;
    margin: 0;
}

.five-day-forecast {
    margin: 0;
    padding: 0;
    height: 40vh;
    width: 100vw;
}

.five-day-forecast h2 {
    margin: 10px 0;
}

.card-wrapper{
    display: flex;
    margin: 0;
}

.day-cards {
    display: flex;
    flex-direction: column;
    background: rgb(37,93,208);
    background: linear-gradient(90deg, rgb(94, 140, 231) 0%, rgb(63, 81, 214) 60%, rgb(41, 57, 167) 100%);
    color: white;
    padding: 10px;
    margin: 10px;
    width: 20%;
}

.day-cards p {
    font-size: 18px;
    padding: 10px;
}

.hide {
    display: none;
}