* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

header {
    display: flex;
    justify-content: center;
    background: rgb(37,93,208);
    background: linear-gradient(90deg, rgba(37,93,208,1) 0%, rgba(13,31,157,1) 60%, rgba(2,13,84,1) 100%);
    color: white;
    padding: 10px;
}

.content-wrapper {
    display: flex;
}

.search-container {
    display: flex;
    flex-direction: column;
    flex: 1 25%;
    justify-content: center;
}

.search-form {
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding: 20px 0
}

.btn, .input-city {
    padding: 10px 0;
    border-radius: 10px;
    font-size: large;
}

.input-city {
    padding: 15px 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    flex: 1 75%;
}

.current-conditions {
    display: flex;
    flex: 1 75%;
    flex-wrap: wrap;
    border: 2px solid black;
    height: 35vh;
}

.five-day-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 75%;
    height: 30vh;
    margin:0;
}

.five-day-forecast {
    margin: 0;
    padding: 0;
}

.card-wrapper{
    display: flex;
    flex: 1 75%;
    margin: 0;
}

.day-cards {
    background-color: navy;
    color: white;
    height: 30vh;
    width: 15vw;
    padding: 10px;
}